*{
    padding: 0;
    margin: 0;
    font-family: "semplicitapro", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.nav-sup{
    display: flex;
    align-items: center;
    background-color: #F7DE26;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
    margin-bottom: 50px;
}

/* .nav-sup .botao_sanduiche{
    position: relative;
    color: #732F81;
    width: 50px;
    height: 35px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid;
    margin-left: 20px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    user-select: none;
} */

.nav-sup img{
    padding: 5px 30px;
    height: 50px;
}

.container{
    padding: 0 30px;
    display: flex;
    flex-wrap: nowrap;
}

/* .container .show-nav{
    width: 20vw;
} */


/* NAVEGADOR LATERAL---------------------------------------------------------- */

.container .nav-lat{
    width: 50vw;
    border-right: 1px solid #732F81;
}

.container .nav-lat ul{
    list-style-type: none;
}

.container .nav-lat ul li{
    font-size: 12pt;
    padding: 20px 30px;
    user-select: none;
}

.container .nav-lat ul li:hover{
    cursor: pointer;
    color: #F7DE26;
    background-color: #732F81;
}

.container .nav-lat ul .li-logo:hover .conteudo{
    height: 100%;
}

/* CONTEÚDO --------------------------------------------------------------------------*/

.content{
    margin-left: 20px;
}

.content h1{
    border-bottom: 1px solid rgba(115, 47, 129, 0.349);
    margin-bottom: 20px;
}

.content p{
    margin-top: 20px;
}

.div-content{
    max-height: 0px;
    overflow: hidden;
}

.show-content{
    max-height: 100%;
}

/* LOGOMARCA -----------------------------------------------------------------------------------------*/

.content-logo p{
    margin-bottom: 40px;
}

.div-yellow{
    display: flex;
    justify-content: center;
    background-color: #F7DE26;
}

.content-logo .diminuida{
    display: inline;
    align-content: center;
}

.content-logo .diminuida img{
    width: 100px;
}

/* CORES ------------------------------------------------------------------------------------*/

.section-cores{
    display: flex;
}

.section-cores div{
    cursor: pointer;
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);
}

.section-cores .cor-roxo{
    background-color: #732F81;
}

.section-cores .cor-amarelo{
    background-color: #F7DE26;
}

.section-cores .cor-verde{
    background-color: #14C17E;
}

.section-cores .cor-roxo article{
    color: rgb(255, 255, 255);
}

.section-cores .HEX{
    margin-top: 60px;
}

/* BOTÕES ----------------------------------------------------------------------------------------*/

.section-botoes{
    display: flex;
}

.section-botoes button{
    cursor: pointer;
    border-radius: 7px;
    width: 120px;
    padding: 10px;
    margin: 20px;
    user-select: none;
    font-size: 14pt;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.section-botoes button:hover{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
}

.section-botoes .botao-primario{
    background-color: #732F81;
    color: white;
}

.section-botoes .botao-primario:hover{
    background-color: rgb(96, 39, 107);
}

.section-botoes .botao-secundario{
    background-color: white;
    color: #732F81;
    border: 1px solid #732F81;
}

/* FORMULÁRIO----------------------------------------------------------------- */

.input{
    border-radius: 7px;
    height: 15px;
    width: auto;
    padding: 10px;
    margin: 10px;
    border-color: rgb(233, 233, 233);
    font-size: 12px;
}

.input-nome{
    width: 250px;
}

.input-email {
    width: 200px;
}

.input-data{
    width: 50px;
}

.input-local{
    height: 50px;
}
.input-estado{
    height: 50px;
}



/* @media screen and (min-width: 480px){
    .nav-sup .botao_sanduiche{
        display: none;
        user-select: none;
    }

    .container .nav-lat{
        width: 20vw;
        height: 87vh;
        border-right: 1px solid #732F81;
    }
} */